.about-root {
  width: 100%;
  height: 100vh;
  z-index: 10;
  //   position: relative;
  //   background: linear-gradient(0.62turn, #eeeeee 11%, #eeeeee 47%, #589cb0 100%);

  &_content {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: max-content;
    padding-inline: 5%;
    margin-block: 8%;
    // gap: 10%;
    flex-wrap: wrap;
  }

  &_img {
    margin: 20px;
  }

  &_description {
    flex: 1;
    min-width: 300px;
  }

  &_academic {
    flex: 1;
    min-width: 300px;
  }
}

@media (max-width: 768px) {
  .about-root {
    &_content {
      gap: 3rem;
    }

    &_description,
    &_academic {
      min-width: 100%;
    }
  }
}
