.text-green-primary {
  color: #344c3d;
}

.text-green-accent {
  color: #9ba6aa;
}

.text-green-secondary {
  color: #738a6e;
}

.red-fade {
  color: #c89292;
}

.red {
  color: #916969;
}

.blue {
  color: #1f7a8c;
}
