.app-button {
  background-color: var(--color-green-primary);
  padding-inline: 2rem;
  border-radius: 15px;
  height: 3rem;

  color: white;

  // &:hover {
  //   background-color: #d1b9b9;
  //   cursor: pointer;
  // }

  // add hover animation
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--color-green-secondary);
    cursor: pointer;
  }
}
